<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传测试页</title>
    <link rel="stylesheet" href="{{ static_url('css/stylesheet.css') }}">
</head>
<body>
<div class="container">
    <input type="file" name="fileselect" id="fileselect" value="" multiple/>
    <input type="button" id="btnselect" value="选择上传的文件" />
    <input type="button" id="btnupload" value="开始上传" />
</div>
<table cellspacing="0" cellpadding="0" id="filelist">
    <tr>
        <td class="filename">文件名</td>
        <td class="fileprogress">进度</td>
        <td class="filestatus">状态</td>
    </tr>
    <!--<tr><td>人民的名义.avi </td><td><progress value="10" max="100" class="domprogress"></progress><span class="dompercent">10%</span><span class="domsize">0/1.86GB</span></td><td class="filestatus"><span class="domstatus">排队中</span></td></tr>-->
    <tr id="trmsg">
        <td colspan="3" id="tdmsg">请选择要上传的文件! 技术支持QQ：1205352402</td>
    </tr>
</table>
</body>
<script type="text/javascript" src="{{ static_url('js/jquery-2.0.3.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('js/spark-md5.js') }}"></script>
<script type="text/javascript">
    $("#btnselect").click(function() {
        $("#fileselect").click();
    });
    $("#fileselect").change(function() {
        var files = this.files;
        if(files.length > 0) {
            $("#trmsg").remove();
            $(files).each(function(index, item) {
                console.log(index, item);
                var filesize = 0;
                if((item.size / 1024 / 1024 / 1024) >= 1) {
                    filesize = (item.size / 1024 / 1024 / 1024).toFixed(2) + "GB"; // b=>kb=>mb=>gb
                } else if((item.size / 1024 / 1024 / 1024) < 1 && (item.size / 1024 / 1024) >= 1) {
                    filesize = (item.size / 1024 / 1024).toFixed(2) + "MB";
                } else if((item.size / 1024 / 1024) < 1 && (item.size / 1024) >= 1) {
                    filesize = (item.size / 1024).toFixed(2) + "KB";
                } else {
                    filesize = item.size + "B";
                }

                var htmlstr = '<tr><td>' + item.name + '</td><td><progress value="0" max="100" class="domprogress"></progress><span class="dompercent"> 0/'+filesize+'</span><span class="domtime">总共耗时：0 秒</span></td><td class="filestatus"><span class="domstatus">排队中</span></td></tr>';
                $("#filelist").append(htmlstr);

            });
        }
    });

    $("#btnupload").click(function () {
        var files = $("#fileselect")[0].files;
        $(files).each(function (index) {
            yyupload(files[index], $("span.domstatus").eq(index), $("span.dompercent").eq(index), $(".domprogress").eq(index), $("span.domtime").eq(index));
        });
    });

    function yyupload(file, dommsg, dompercentmb, domprogress, domtime, fn) {
        var startTime = new Date();
        calculate(file);
        // 获取文件加密字符串
        function calculate(file) {

            var fileReader = new FileReader();
            var chunkSize = 1024 * 1024 * 7;  // 每次读取5M
            var chunkCount = Math.ceil(file.size / chunkSize);  // 向上取整
            var currentChunk = 0;  // 当前索引块
            var spart = new SparkMD5();

            loadNext();

            fileReader.onload = function (e) {
                dommsg.text("正在检查文件：" + (currentChunk + 1) + "/" + chunkCount);
                spart.appendBinary(e.target.result);
                currentChunk++;
                if(currentChunk < chunkCount){
                    loadNext();
                }else {
                    var md5value = spart.end();
                    console.log("文件加密结束，密钥为：" + md5value);
                    checkfile(md5value, file)
                }
            };

            function loadNext() {
                var start = currentChunk * chunkSize;
                var end = start + chunkSize >= file.size ? file.size : start + chunkSize;
                fileReader.readAsBinaryString(file.slice(start, end))
            }
        }

        function checkfile(md5value, file){
            var fd = new FormData();
            fd.append("filename", file.name);
            fd.append("md5value", md5value);
            var xhr = new XMLHttpRequest();
            xhr.open("post", "/checkfile", true);
            
            xhr.onreadystatechange = function (res) {
                if(xhr.readyState === 4 && xhr.status === 200){
                    var jsonbj = JSON.parse(xhr.responseText);

                    switch (jsonbj.flag){
                        case 0: doUpload(file, md5value); break;
                        case 1: doUpload(file, md5value, jsonbj.startindex); break;
                        case 2: secondUpload(file); break;
                    }
                    repeatcount = 0;
                } else if(xhr.status === 500) {
                    setTimeout(function() {
                        if(repeatcount < 3) {
                            checkfile(md5value, file);
                        }
                        repeatcount++;
                    }, 3000);
                }
            };
            xhr.send(fd);
        }

        //实现秒传功能
        function secondUpload(file)
        {
            var timerange = (new Date().getTime() - startTime.getTime()) / 1000;
            domtime.text("耗时" + timerange + "秒");
            //显示结果进度
            var percent =100;
            dommsg.text(percent.toFixed(2) + "%");
            domprogress.val(percent);
            var total = file.size;
            if (total > 1024 * 1024 * 1024) {
                dompercentmb.text((total / 1024 / 1024 / 1024).toFixed(2) + "GB/" + (total / 1024 / 1024 / 1024).toFixed(2) + "GB");
            } else if (total > 1024 * 1024) {
                dompercentmb.text((total / 1024 / 1024).toFixed(2) + "MB/" + (total / 1024 / 1024).toFixed(2) + "MB");
            } else if (total > 1024 && total < 1024 * 1024) {
                dompercentmb.text((total / 1024).toFixed(2) + "KB/" + (total / 1024).toFixed(2) + "KB");
            } else {
                dompercentmb.text((total).toFixed(2) + "B/" + (total).toFixed(2) + "B");
            }

        }

        function doUpload(file, md5value, startindex=0) {
            var reader = new FileReader();
            var step = 1024 * 400;  // 每次读取400KB
            var cuLoaded = startindex;
            var total = file.size;

            reader.onload = function (e) {
                var result = reader.result;
                var loaded = e.loaded;
                uploadFile(result, cuLoaded, function () {
                    cuLoaded += loaded;
                    var timerange = (new Date().getTime() - startTime.getTime()) / 1000;

                    if (total > 1024 * 1024 * 1024) {
                        dompercentmb.text((cuLoaded / 1024 / 1024 / 1024).toFixed(2) + "GB/" + (total / 1024 / 1024 / 1024).toFixed(2) + "GB");
                    } else if (total > 1024 * 1024) {
                        dompercentmb.text((cuLoaded / 1024 / 1024).toFixed(2) + "MB/" + (total / 1024 / 1024).toFixed(2) + "MB");
                    } else if (total > 1024 && total < 1024 * 1024) {
                        dompercentmb.text((cuLoaded / 1024).toFixed(2) + "KB/" + (total / 1024).toFixed(2) + "KB");
                    } else {
                        dompercentmb.text((cuLoaded).toFixed(2) + "B/" + (total).toFixed(2) + "B");
                    }
                    domtime.text("耗时" + timerange + "秒");
                    domtime.text("耗时" + timerange + "秒");
                    if (cuLoaded < total) {
                        readBlob(cuLoaded);
                    } else {
                        console.log('总共用时：' + timerange);
                        cuLoaded = total;
                        sendfinish(); //告知服务器上传完毕
                        domtime.text("上传完成,总共耗时" + timerange + "秒");
                    }
                    //显示结果进度
                    var percent = (cuLoaded / total) * 100;
                    dommsg.text(percent.toFixed(2) + "%");
                    domprogress.val(percent);
                });
            };
            readBlob(cuLoaded);
            //指定开始位置，分块读取文件
            function readBlob(start) {
                //指定开始位置和结束位置读取文件
                var end = start + step >= file.size ? file.size : start + step;
                var blob = file.slice(start, end); //读取开始位置和结束位置的文件
                reader.readAsArrayBuffer(blob); //读取切割好的文件块
            }
            //继续
            function containue() {
                readBlob(cuLoaded);
            }

            var k = 0;
            function sendfinish() {
                var fd = new FormData();
                fd.append("filename", file.name);
                fd.append("md5value", md5value);
                fd.append("totalsize", file.size);

                var xhr = new XMLHttpRequest();
                xhr.open("post", "/finishupload", true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200){
                        if(fn){
                            fn();
                        }
                        k = 0;
                    }else if (xhr.status === 500){
                        setTimeout(function () {
                            if(k<3){
                                sendfinish();
                            }
                            k++;
                        }, 300);
                    }
                };
                xhr.send(fd);
            }

            var m = 0;
            function uploadFile(result, startIndex, onSuccess) {
                var blob = new Blob([result]);
                var fd = new FormData();
                fd.append("file", blob);
                fd.append("md5value", md5value);
                fd.append("filename", file.name);
                fd.append("filesize", file.size);
                fd.append("loaded", startIndex);

                var xhr = new XMLHttpRequest();
                xhr.open("post", "/uploadfile", true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200){
                        m = 0;
                        if(onSuccess) onSuccess();
                    }else if (xhr.status === 500){
                        setTimeout(function () {
                            if(m < 3){
                                console.log("sendfinish");
                            }
                            m++;
                        }, 1000);
                    }
                };
                xhr.send(fd);
            }

        }
    }
</script>
</html>